@import url("layout.css");
@import url("about.css");
@import url("blogPost.css");
@import url("main.css");


@media only screen and (max-width: 768px) {
  .container {
    grid-template-rows: 75px 1863px !important;
  }
  main section article {
    display: grid !important;
    grid-template-columns: repeat(1, 300px) !important;
    grid-gap: 50px !important;
    justify-content: center !important;
    margin-top: 5% !important;
    text-align: center !important;
  }

  .postBlog {
    width: 80% !important;
    display: grid !important;
    margin: auto !important;
    grid-template-columns: repeat(1, 425px) !important;
    grid-template-rows: repeat(3, auto) !important;
    border: 1px solid #000 !important;
    padding: 20px !important;
    justify-content: center !important;
  }
  .personalInfo {
    border: 0 !important;
    border-bottom: 1px solid #000 !important;
    margin-right: 10px !important;
  }

  /* /*********************************************** */
  .realatedPost {
    display: grid !important;
    grid-template-columns: repeat(1, 300px) !important;
    grid-gap: 50px !important;
    justify-content: center !important;
    margin-top: 5% !important;
    text-align: center !important;
    padding: 30px !important;
  }
  .container.post1 {
    grid-template-rows: 75px 2870px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    grid-template-rows: 75px 1385px !important;
  }
  main section article {
    display: grid !important;
    grid-template-columns: repeat(2, 300px) !important;
    grid-gap: 50px !important;
    justify-content: center !important;
    margin-top: 5% !important;
    text-align: center !important;
  }
  /* /*********************************************** */
  .realatedPost {
    display: grid !important;
    grid-template-columns: repeat(2, 300px) !important;
    grid-gap: 50px !important;
    justify-content: center !important;
    margin-top: 5% !important;
    text-align: center !important;
    padding: 30px !important;
  }
  .container.post1 {
    grid-template-rows: 75px 2228px !important;
  }
}
